<!DOCTYPE html>
<html>
	<head>
	  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>You have been invited to use <%= @user_membership.app.name %></h1>
		<% if @user_membership.user %>
    <p>Go to following page to create your account: <a href="<%= @url %>"><%= @url %></a>.</p>
		<% else %>
    <p>Go to following page to confirm your invitation: <a href="<%= @url %>"><%= @url %></a>.</p>
		<% end %>
		<p>This link will expire at <%= @expiration_time %></p>
		<p>Thanks for joining and have a great day!</p>
	</body>
</html>