<!DOCTYPE html>
<html>
	<head>
	  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Your PTO request has been denied by: <%= @rejected_by&.full_name %></h1>
		<p>Starts at: <%= @pto.starts_at %></p>
		<p>Ends at: <%= @pto.ends_at %></p>
		<% if @comment %>
		<p>Comment from <%= @rejected_by&.full_name %>: <%= @comment %> </p>
		<% end %>
		<p>If you have questions regarding this denial, please contact your supervisor.</p>
	</body>
</html>